body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

.atom {
    position: relative;
}

.nucleus {
    z-index: 1;
}

.electron {
    z-index: 0;
}
